#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
}

#about h3 {
    height: 50px;
    color: #37424f;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'HelveticaBold', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    background-image: url(../img/bg_880x50.jpeg);
    box-sizing: border-box;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

#about div {
    height: 290px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr); 
}

#about div img {
    width: 198px;
    margin-top: 50px;
    margin-left: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}

#about div .info {
    display: grid;
    text-align: center;
    margin-bottom: 14px;
    margin: 12px 0;
    grid-column: 2 / 4;
    grid-row: 1 / 8;
}

#about div .info p {
    margin-bottom: 14px;
    grid-column: 1 / 4;
    font-family: 'HelveticaRegular', sans-serif;
}

#about div .info p > strong {
    font-weight: bold;
}