footer .wrapper {
    max-width: 575px;
    min-width: 320px;
    margin: auto;
}

footer .wrapper p {
    height: 50px;
    color: #37424f;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'HelveticaBold', sans-serif;
    font-size: 18px; 
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    background-image: url(../img/bg_575x50.jpeg);
    box-sizing: border-box;
}

@media (min-width: 992px) {
    footer .wrapper {
        max-width: 880px;
        margin: auto;
    }
    
    footer .wrapper p {
        height: 50px;
        color: #37424f;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: 'HelveticaBold', sans-serif;
        background-image: url(../img/bg_880x50.jpeg);
        font-size: 24px; 
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        box-sizing: border-box;
    }
}