header .wrapper {
    max-width: 575px;
    min-width: 320px;
    margin: auto;
}

header .wrapper .fixed {
    background-color: rgba(255, 255, 255, 0.98);
}

header .wrapper img {
    height: 60px;
}

header .wrapper nav {
    background-color: rgba(255, 255, 255, 0.01) !important;
}

header .wrapper nav .menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}

header .wrapper nav .menu a {
    font-size: 14px;
    font-weight: bold;
    font-family: 'HelveticaBold', sans-serif;
    color: #000 !important;
    text-transform: uppercase;
}

header .wrapper nav .menu a.active {
    background-color: #37424f;
    color: #fff !important;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    header .wrapper {
        max-width: 880px;
    }
    
    header .wrapper .fixed {
        position: fixed;
        z-index: 1;
    }
    
    header .wrapper img {
        height: 90px;
        transform: rotate(0deg);
        transition: ease 2s;
        margin-bottom: 0px;
        position: relative;
        top: 16px;
    }
    
    header .wrapper img:hover {
        transform: rotate(360deg);
        transition: ease 2s;
    }
    
    header .wrapper nav {
        margin-top: -27px;
    }
    
    header .wrapper nav .menu {
        padding-top: 27px;
        box-sizing: border-box;
        height: 86px;
        margin-left: 353px;
        margin-bottom: -27px;
        position: relative;
        left: 16px;
    }
    
    header .wrapper nav div.menu a {
        transform: rotate(0deg);
        overflow: hidden;
        transition: ease 3s;
        margin-top: -27px;
        padding-top: 35px;
    }
    
    header .wrapper nav div.menu a:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transform: rotate(10deg);
        overflow: hidden;
        transition: ease 3s;
    }
}