@import "../css/reset.css";
@import "../css/header.css";
@import "../css/my-presentation.css";
@import "../css/about.css";
@import "../css/myJob.css";
@import "../css/links.css";
@import "../css/portfolio.css";
@import "../css/contacts.css";
@import "../css/footer.css";
@import "../css/modal.css";

@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular.ttf");
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold.ttf");
}

body {
  background-color: #f1f1f1;
}