@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../css/reset.css";
@import "../css/header.css";
@import "../css/my-presentation.css";
@import "../css/about.css";
@import "../css/myJob.css";
@import "../css/links.css";
@import "../css/portfolio.css";
@import "../css/contacts.css";
@import "../css/footer.css";
@import "../css/modal.css";
@font-face {
		font-family: "HelveticaRegular";
		src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
		src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
}

@font-face {
		font-family: "HelveticaBold";
		src: url("../fonts/HelveticaBold/HelveticaBold.eot");
		src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
}

body {
	background-color: #f1f1f1;
}