#links h3 {
    height: 50px;
    color: #37424f;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'HelveticaBold', sans-serif;
    background-image: url(../img/bg_880x50.jpeg);
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#links div {
    margin: 75px 0;
    text-align: center;
}

#links div img {
    height: 100px;
    margin: 0 70px;
}