#links {
    background-image: url(../img/links.jpeg);
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
}

#links h3 {
    height: 50px;
    color: #37424f;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'HelveticaBold', sans-serif;
    background-image: url(../img/bg_880x50.jpeg);
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#links div {
    padding-top: 125px;
    text-align: center;
    box-sizing: border-box;
}

#links div img {
    height: 100px;
    padding: 0 70px;
    box-sizing: border-box;
}