#portfolio {
  text-align: center;
  background-color: #37424f;
}

#portfolio h3 {
  height: 50px;
  color: #37424f;
  letter-spacing: 2px;
  font-family: 'HelveticaBold', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  background-color: #f1f1f1;
}

#portfolio #portfolio-box .slide-container {
  position: relative;
}

#portfolio #portfolio-box #prev,
#portfolio #portfolio-box #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 50px;
  z-index: 1;
}

#portfolio #portfolio-box #next {
  right: 40px;
  border-radius: 3px 0 0 3px;
}

#portfolio #portfolio-box #prev {
  left: 40px;
  border-radius: 0 3px 3px 0;
}

#portfolio #portfolio-box #prev:hover,
#portfolio #portfolio-box #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#portfolio #portfolio-box .view {
  width: 99%;
  margin: auto;
}

#portfolio #portfolio-box .view {
  padding-top: 30px;
  box-sizing: border-box;
}

#portfolio #portfolio-box .view .card-img-top {
  border-radius: 15px;
}

#portfolio #portfolio-box .view .card-body {
  background-color: #fff;
  border-radius: 15px;
}

#portfolio #portfolio-box .view .card-body h5 {
  color: #37424f;
  font-family: 'HelveticaBold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

#portfolio #portfolio-box .view .card-body p {
  color: #37424f;
  font-family: 'HelveticaRegular', sans-serif;
  margin-bottom: 20px;
}

#portfolio #portfolio-box .view .card-body a {
  background-color: #37424f;
  color: #fff;
  font-family: 'HelveticaRegular', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 115px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 1s ease;
  box-sizing: border-box;
}

#portfolio #portfolio-box .view .card-body a:hover {
  background-color: #ccc;
  color: #37424f;
  transition: 1s ease;
  text-decoration: none;
}

#portfolio #portfolio-box .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#portfolio #portfolio-box .dot.active,
#portfolio #portfolio-box .dot:hover {
  background-color: #717171;
}

@media (min-width: 992px) {
  #portfolio h3 {
    height: 60px;
    font-size: 24px;
    letter-spacing: 10px;
  }

  #portfolio #portfolio-box .view .card-body .margin {
    margin-bottom: 10px;
  }

  #portfolio #portfolio-box .view .card-img-top {
    height: 450px;
  }

  #portfolio #portfolio-box .view .card-body {
    height: 140px;
    position: relative;
  }

  #portfolio #portfolio-box .view .card-body a {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 137px);
  }
}

@media (max-width: 992px) {
  #portfolio #portfolio-box #next {
    right: 15px;
  }

  #portfolio #portfolio-box #prev {
    left: 15px;
  }

  #portfolio #portfolio-box .view .card-img-top {
    height: 420px;
  }

  #portfolio #portfolio-box .view .card-body {
    height: 150px;
    position: relative;
  }

  #portfolio #portfolio-box .view .card-body a {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 137px);
  }
}

@media (max-width: 768px) {
  #portfolio #portfolio-box .view .card-img-top {
    height: 320px;
  }
}

@media (max-width: 550px) {
  #portfolio #portfolio-box .view .card-img-top {
    height: 250px;
  }
  #portfolio #portfolio-box .view .card-body {
    height: 170px;
  }
}

@media (max-width: 425px) {
  #portfolio #portfolio-box .view .card-img-top {
    height: 220px;
  }

  #portfolio #portfolio-box .view .card-body {
    height: 180px;
  }
}

@media (max-width: 375px) {
  #portfolio #portfolio-box .view .card-img-top {
    height: 190px;
  }

  #portfolio #portfolio-box .view .card-body {
    height: 190px;
  }
}